p, li, h2, {

    font-size:30px;

text-align: left;}

p {

color: lime;
    font-size:30px;




}

table {

border-collapse: collapse;

}



tr, th {

border: 5px solid#FF69b4;

text-align: left;

padding: 8px;

}
